examples/My_workflow_whatsapp_audio.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution_api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ],
      "id": "213a1848-65fc-4b76-8571-078f10a1c29b",
      "name": "Webhook",
      "webhookId": "021e75e4-9ec4-4251-86c1-f3e67e7041d7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d61bb9cf-11ee-4ef2-8316-0df2acd8a02d",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a6430280-da3b-40f5-938d-005d643744a7",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "ac06617c-f7e9-4b37-9f4c-2632ca125d04",
              "name": "server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "344f0147-9e0d-46a2-9487-3df3e94319fa",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "bf041f0a-161c-46bf-a030-e2cd2e2be8ee",
              "name": "mimetype",
              "value": "={{ $json.body.data.message.audioMessage.mimetype }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        0
      ],
      "id": "b9e5540a-6513-4510-a58c-8141e9e8b468",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario te envia el siguiente mensaje:\nUsuario  {{ $('If').item.json.chat_id }}\n\nConversacion {{ $json.conversation }}\n\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1480,
        20
      ],
      "id": "853cc257-af84-42c0-9ab0-6a2f7f7f0d48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1140,
        240
      ],
      "id": "ec614c2d-9a5a-414a-840d-2b85b1703afd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e9LETBO8awDurSoa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "tucson",
        "remoteJid": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        20
      ],
      "id": "cc712216-695b-4d7c-bfeb-cbab3efb7b43",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "iTAm6y5UuqTaYFlg",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $('If').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1380,
        240
      ],
      "id": "85595a96-697f-4dc7-a91c-8ec579e14231",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1080,
        -140
      ],
      "id": "b0b395b9-5ea5-4e59-a094-32f44c0d35dc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "e9LETBO8awDurSoa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8764747d-b252-4beb-8731-c38405ee5426",
              "leftValue": "={{ $json.mimetype }}",
              "rightValue": "audio/ogg; codecs=opus",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "f0906682-9dae-4c6f-9b5b-118591d684b9",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/chat/getBase64FromMediaMessage/tucson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D59999"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        -140
      ],
      "id": "6717e75b-4fa3-4609-b1cf-884638ff70a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        -140
      ],
      "id": "722ac143-4152-4d76-b06e-41346d731941",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4d4cf4-8bcc-40b6-b578-8d63574f16a9",
              "name": "conversation",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -140
      ],
      "id": "600038a8-dc6c-4c1c-8087-6744fe2f461a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9649e1d9-871d-4d1a-97a4-bc93d5f12892",
              "name": "conversation",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        160
      ],
      "id": "a72f0b07-f637-4bbd-b662-59a0a9c3c851",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "643465e2-772a-4ea8-bfed-1284e0dea4ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e0233d904bf8e7b8a6837fa8d8a226e562ba2b0cf49622149b19c16e800f56a"
  },
  "id": "JGjX6lzsnEmhp5ZJ",
  "tags": []
}